body {
    font-family: Cabin, sans-serif;
    background: #f6f6ec;
    display: flex;
    justify-content: center;
}

.main-wrapper {
    min-width: 35rem;
}

.main-wrapper:hover summary {
    color: black;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    border-bottom: 0.125rem solid #dce1e5;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

details {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.125rem solid #dce1e5;
}

details:hover img,
details[open] img {
    display: block;
}

details[open] summary {
    color: black;
    /*margin-bottom: 1rem;*/
}

details[open] .accordion-icon,
details:hover .accordion-icon{
    background: url(../cssBayan/assets/close-icon.png) no-repeat;
}
summary {
    list-style: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: dodgerblue;
    transition: margin 850ms ease-out;
}

summary:hover img,
summary:hover span{
    transform: scale(1.0);
}

img {
    margin-top: 0.313rem;
    padding-left: 4.875rem;
    display: none;
    transition: transform 0.9s ease-in-out;
    transform: scale(0.8);
}

.accordion-icon {
    display: none;
    width: 3rem;
    height: 3rem;
    background: url(../cssBayan/assets/open-icon.png) no-repeat;
    transition: transform 0.9s ease-in-out;
    transform: scale(0.8);
}

.main-wrapper:hover .accordion-icon {
    display: inline-block;
}

.a1 {
    margin-left: 10rem;
}

.a2 {
    margin-left: 16.563rem;
}

.a3 {
    margin-left: 20.188rem;
}

.a4 {
    margin-left: 19.75rem;
}

.a5 {
    margin-left: 17.625rem;
}